<screen>
	<item>
		<type>image</type>
		<posX>0</posX>
		<posY>0</posY>
		<width>640</width>
      	<height>480</height>
		<texture>background</texture>
	</item>
	<item>
		<type>rect</type>
		<posX>1</posX>
		<posY>20</posY>
		<width>640</width>
      	<height>40</height>
		<fillcolor>C0003300</fillcolor>
		<color>ff003300</color>
	</item>
	<item>
		<type>text</type>
		<posX>40</posX>
		<posY>30</posY>
		<color>ffffffff</color>
		<text>Settings:</text>
		<font>font1</font>
	</item>

	<item>
		<type>rect</type>
		<showID>1</showID>
		<posX>0</posX>
		<relY>0</relY>
		<width>640</width>
      	<height>22</height>
		<fillcolor>C0003300</fillcolor>
		<color>ff003300</color>
	</item>
	<item>
		<type>menu</type>
		<showID>1</showID>
		<posX>250</posX>
		<posY>100</posY>
		<color>ffffffff</color>
		<highlight>ffffffff</highlight>
		<font>font1</font>
	</item>

	<item>
		<type>text</type>
		<showID>2</showID>
		<posX>140</posX>
		<posY>30</posY>
		<color>ffffffff</color>
		<text>General</text>
		<font>font1</font>
	</item>
	<item>
		<type>rect</type>
		<showID>2</showID>
		<posX>0</posX>
		<relY>0</relY>
		<width>640</width>
      	<height>15</height>
		<fillcolor>C0003300</fillcolor>
		<color>ff003300</color>
	</item>
	<item>
		<type>menu</type>
		<showID>2</showID>
		<posX>200</posX>
		<posY>100</posY>
		<hspace>200</hspace>
		<color>ffffffff</color>
		<highlight>ffffffff</highlight>
		<font>fontb</font>
	</item>

	<item>
		<type>text</type>
		<showID>3</showID>
		<posX>140</posX>
		<posY>30</posY>
		<color>ffffffff</color>
		<text>Audio</text>
		<font>font1</font>
	</item>
	<item>
		<type>rect</type>
		<showID>3</showID>
		<posX>0</posX>
		<relY>0</relY>
		<width>640</width>
      	<height>15</height>
		<fillcolor>C0003300</fillcolor>
		<color>ff003300</color>
	</item>
	<item>
		<type>menu</type>
		<showID>3</showID>
		<posX>200</posX>
		<posY>100</posY>
		<hspace>200</hspace>
		<color>ffffffff</color>
		<highlight>ffffffff</highlight>
		<font>fontb</font>
	</item>

	<item>
		<type>text</type>
		<showID>4</showID>
		<posX>140</posX>
		<posY>30</posY>
		<color>ffffffff</color>
		<text>LCD</text>
		<font>font1</font>
	</item>
	<item>
		<type>rect</type>
		<showID>4</showID>
		<posX>0</posX>
		<relY>0</relY>
		<width>640</width>
      	<height>15</height>
		<fillcolor>C0003300</fillcolor>
		<color>ff003300</color>
	</item>
	<item>
		<type>menu</type>
		<showID>4</showID>
		<posX>200</posX>
		<posY>100</posY>
		<hspace>200</hspace>
		<color>ffffffff</color>
		<highlight>ffffffff</highlight>
		<font>fontb</font>
	</item>

	<item>
		<type>text</type>
		<showID>5</showID>
		<posX>140</posX>
		<posY>30</posY>
		<color>ffffffff</color>
		<text>Network</text>
		<font>font1</font>
	</item>
	<item>
		<type>rect</type>
		<showID>5</showID>
		<posX>0</posX>
		<relY>0</relY>
		<width>640</width>
      	<height>15</height>
		<fillcolor>C0003300</fillcolor>
		<color>ff003300</color>
	</item>
	<item>
		<type>menu</type>
		<showID>5</showID>
		<posX>200</posX>
		<posY>100</posY>
		<hspace>200</hspace>
		<color>ffffffff</color>
		<highlight>ffffffff</highlight>
		<font>fontb</font>
	</item>

	<item>
		<type>text</type>
		<showID>6</showID>
		<posX>140</posX>
		<posY>30</posY>
		<color>ffffffff</color>
		<text>Skins</text>
		<font>font1</font>
	</item>
	<item>
		<type>rect</type>
		<showID>6</showID>
		<posX>0</posX>
		<relY>0</relY>
		<width>640</width>
      	<height>15</height>
		<fillcolor>C0003300</fillcolor>
		<color>ff003300</color>
	</item>
	<item>
		<type>menu</type>
		<showID>6</showID>
		<posX>200</posX>
		<posY>100</posY>
		<hspace>200</hspace>
		<color>ffffffff</color>
		<highlight>ffffffff</highlight>
		<font>fontb</font>
	</item>
	<item>
		<type>text</type>
		<showID>6</showID>
		<posX>140</posX>
		<posY>300</posY>
		<color>ffffffff</color>
		<text>Active Skin: ${skin}</text>
		<font>font1</font>
	</item>


</screen>

